.home {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.home-title {
  font-size: 2.2rem;
  font-weight: 800;
  margin-left: 720px; 
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}
